@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  padding: 10px;
  background-color: rgb(241, 191, 199);
}

img {
  cursor: pointer;
}

.header-light {
  background-color: #fbfbfb;
  padding: 10px 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header-left {
  display: flex;
  align-items: center;
  margin-right: 80px;
}

.left {
  display: flex;
  align-items: center;
}

.fa-bars {
  margin-right: 40px;
  font-size: 18px;
  cursor: pointer;
}

.header-middle {
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  border: 1px #c6cdd5 solid;
}

input {
  width: 680px;
  padding: 8px;
  border: none;
}

input::placeholder {
  color: #c6cdd5;
  font-family: "Inter", sans-serif;
}

input:focus {
  outline: none;
}

.magnifier {
  background-color: #f2f2f2;
  border: none;
  padding: 6px 16px;
  border-left: 1px #c6cdd5 solid;
  cursor: pointer;
  color: #a7b5be;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
}

nav ul li button {
  cursor: pointer;
}

nav ul li button i {
  font-size: 16px;
}

nav ul li:not(:last-child) {
  margin-right: 24px;
}

.header-light nav ul li button {
  background: none;
  border: none;
}

.header-dark {
  background-color: #151d20;
  padding: 10px 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-dark nav ul li button {
  color: #fff;
  background: none;
  border: none;
}

.header-dark .fa-bars {
  color: #fff;
}
